@model IEnumerable<StudentCRUDApp.Models.Student>

<h2>Student List</h2>

<a asp-action="Create" class="btn btn-primary">Add Student</a>

<table class="table table-bordered mt-3">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.Age</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
</table>