@model IEnumerable<TrainingCentreManagement.Models.Attendance>

<h2>Attendance List</h2>

<hr />

<table border="1">

    <tr>

        <th>Attendance Id</th>
        <th>Student Id</th>
        <th>Batch Id</th>
        <th>Date</th>
        <th>Status</th>
        <th>Action</th>

    </tr>

    @foreach (var item in Model)
    {

        <tr>

            <td>@item.AttendanceId</td>
            <td>@item.StudentId</td>
            <td>@item.BatchId</td>
            <td>@item.Date</td>
            <td>@item.Status</td>

            <td>

                <a href="/TrainerPanel/EditAttendance/@item.AttendanceId">Edit</a>

            </td>

        </tr>

    }

</table>

<br />

<a href="/TrainerPanel/MarkAttendance">Add New Attendance</a>

<br />
<br />

<a href="/TrainerPanel/Dashboard">Back</a>