@model IEnumerable<ProductInventoryApp.Models.Product>

<h2>Product List</h2>

<a asp-action="Create" class="btn btn-primary">Add Product</a>

<table class="table table-bordered mt-3">
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Category</td>
            <td>@item.Price</td>
            <td>@item.Quantity</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }

</table>