@model List<TrainingCentreManagement.Models.Batch>

<h2>Batch List</h2>

<a asp-action="Create">Add New Batch</a>

<table border="1">

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Course Id</th>
        <th>Trainer Id</th>
        <th>Start</th>
        <th>End</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>@item.BatchId</td>
            <td>@item.BatchName</td>
            <td>@item.CourseId</td>
            <td>@item.TrainerId</td>
            <td>@item.StartDate</td>
            <td>@item.EndDate</td>

            <td>

                <a asp-action="Edit" asp-route-id="@item.BatchId">Edit</a>

                |

                <a asp-action="Delete" asp-route-id="@item.BatchId">Delete</a>

            </td>

        </tr>
    }

</table>
<br />

<a href="/Admin/Dashboard">Back to Dashboard</a>